<style>.text-link{
		font-color: $background-col;
		}
.text-link:hover{
		font-color: $body-text-col;
		}
button{
	border-color: $background-col;
	background-color:  $footer-bg-col;
	font-color: $background-col;
}
button:hover{
	border-color: $footer-bg-col;
	background-color: $background-col; 
	font-color: $footer-bg-col;
}
.container-for-boxa{
	background-color: $footer-bg-col;
	text-align: center;
  	padding-bottom: 0.5%;
  	margin-bottom: 1%;
  	padding-right: 5%;
}
.smallicone{
  height: 100px;
  width: auto;
  margin-bottom: 2.0%;
}
</style>
<div class="container-for-boxe">
  <img class="smallicone" src = "{{ 'TLSLOGO.png' | asset_url}}">
  <h2 class ="text-link"><a href="/pages/sustainability"> BE THE CHANGE </a></h2>
  <p>Tiny Life Supply proudly donates a portion of sales to causes dedicated to health, happiness, and environmental sustainability.</p>
  <a href="/pages/sustainability"><button> Learn More</button></a>
</div>