{% assign info = article.metafields.article_collections %}
{% assign sizee = info.blog_images.size | modulo: 3  %}
{% if info.blog_images %}
<div class = "column full">
  <div class = "reading-column">
{% for im in info.blog_images %}

<span class = {% if info.blog_images.size == 1 %}"column flex max-cols-1"{% else if sizee == 1 %}"column flex max-cols-4"{% else if sizee == 2 %}"column flex max-cols-2"{% else %}"column flex max-cols-3"{%endif%}> 
<a href="{{ im }}" class="group1">
<img style="object-fit: cover; object-position: center; height: 150px; width: 400px; margin-bottom: 50px" src ="{{ im }}">
</a>
</span>
  
{% endfor %}
  </div>
  </div>




{% endif %}